@media screen and (max-width: 1024px) and (min-width: 320px) {
    .title-wrap .title {
        font-size: 25px;
    }
    .title-wrap .title span {
        font-size: 46px;
    }
    .title-wrap {
        width: 70%;
    }
    .title-wrap-inner .title-inner {
        font-size: 22px;
        margin-bottom: 30px;
    }
    .btn {
        width: auto;
        padding: 10px 20px;
        background-color: #ED5C66;
        border-radius: 100px;
        font-size: 18px;
    }
    .section-content {
        flex-wrap: wrap;
    }
    .video {
        width: 100%;
    }

    .fourth-content__item {
        width: 49%;
        display: block;
        text-align: center;
        margin-bottom: 0;
    }
    .two-section {
        .content__item {
            width: 50%;
        }
    }
    .model__item {
        width: 100%;
    }
    .fancy-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .fancy-item {
        width: 48%;
        margin: 0 5px;
        img {
            width: 100%;
        }
    }
    .specialist__item {
        width: 50%;
    }
    .step-a span.pink, .step-a span.gray {
        font-size: 100px;
    }
    .sub-title-inner {
        font-size: 30px;
    }
    .advantage .advantage-title {
        font-size: 26px;
    }
    .third-content {
        width: auto;
    }

    .page-footer .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .page-footer .contacts {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .privacy-policy {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .fifth-section .title-wrap h2 {
        font-size: 38px;
        line-height: 1;
    }
    .fifth-section .title-wrap p {
        font-size: 28px;
    }
    .fifth-section .title-wrap span {
        font-size: 36px;
    }
    .content-item {
        width: 49%;
    }
    .carousel {
        padding: 30px 0;
    }
    .ninth-section {
        .title-wrap-inner .title-inner {
            margin: 0;
        }
        .programs {
            .title-wrap-inner .title-inner {
                margin-bottom: 30px;
            }
        }
    }
    .arrow__prev {
        right: 0;
    }
    .arrow__next {
        left: 0;
    }
}
@media screen and (max-width: 920px) and (min-width: 320px) {
    .menu-toggle {
        display: block;
    }
    .main-nav__list {
        position: fixed;
        right: -100%;
        opacity: 0;
        -webkit-transition: ease-out .2s;
        -o-transition: ease-out .2s;
        transition: ease-out .2s;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        top: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .nav__item {
        margin: 20px 0;
    }
    .nav__link {
        color: #fff;
    }
    .contacts {
        margin-right: 35px;
    }
    .logo {
        margin-top: 23px;
    }
    .menu-toggle {
        top: 40px;
    }
}


@media screen and (max-width: 768px) and (min-width: 320px) {
    .one-section {
        min-height: 570px;
    }
    .logo {
        // width: 100%;
        // text-align: center;
        // margin-top: 23px;
        img {
            width: 40px;
        }
    }
    .menu-toggle {
        top: 26px;
    }
    .contacts {
        // width: 100%;
        // text-align: center;
        margin-right: 45px;
        margin-left: 45px;
    }
    .one-section {
        // min-height: 100%;
        background: url('../img/fon-min.jpg') no-repeat top left;
    }
    .fourth-content__item {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 0;
    }
    .fourth-section {
        .title-wrap-inner .title-inner {
            margin-bottom: 0;
        }
    }
    .content-item {
        width: 100%;
    }
    .specialist__item {
        width: 100%;
        margin-bottom: 0;
    }
    .programs-list {
        width: 100%;
    }
    .advantage-content {
        width: 100%;
    }
    .sub-title-inner {
        width: 100%;
        padding: 20px 0;
    }
    .eleventh-section {
        min-height: 600px;
    }
    .arrow {  
        width: 45px;
        height: 45px;
    }
    .dots {
        display: block;
    }
    .phone-link, .logo-title {
        font-size: 24px;
    }
    .carousel__item img {
        display: block;
        width: auto;
        margin: auto;
    }
    .title-wrap p {
        font-size: 22px;
    }
    .two-section {
        padding-bottom: 30px;
    }
    .third-section,
    .fourth-section, 
    .fifth-section, 
    .sixth-section, 
    .seventh-section, 
    .eighth-section, 
    .ninth-section, 
    .tenth-section,
    .eleventh-section {
        padding-top: 30px;
    }
    .sixth-section {
        padding-bottom: 30px;
    }
    .seventh-section {
        padding-bottom: 30px;
    }
    .sub-title-inner {
        font-size: 22px;
    }
    .tenth-section .title-wrap-inner {
        margin-bottom: 0;
    }
    .step-list {
        padding-bottom: 30px;
    }
    .ninth-section {
        padding: 30px 0;
    }
    .programs-list-wrap {
        margin-bottom: 20px;
    }
    .step-item {
        min-height: 185px;
    }
    .step-wrap p {
        width: 90%;
    }
    .video {
        height: 300px;
        padding-top: 30px;
    }
    .main-nav__list.show {
        width: 100%;
    }
    .fourth-section {
        padding-bottom: 30px;
    }
    .review-wrap .review {
        padding-bottom: 30px;
    }
    .third-section {
        padding: 30px 0;
    }
    .ninth-section .programs .title-wrap-inner .title-inner {
        margin-bottom: 0;
    }
    .step-a {
        top: 50%;
        left: -5px;
        transform: translateY(-50%);
    }
    .fourth-content__item {
        padding: 0;
    }
    .content-item {
        padding: 10px 0;
    }
    .specialist__item {
        padding: 10px 0;
    }
    .specialist-name, .specialist p {
        margin-bottom: 10px;
    }
    .programs p {
        text-align: left;
    }
    .eighth-section .title-wrap-inner .title-inner {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 600px) and (min-width: 320px) {
    .carousel {
        margin-bottom: 30px;
    }
    .slick-dots {
        bottom: -5px;
    }
    .step-wrap p {
        width: 100%;
    }
}
@media screen and (max-width: 560px) and (min-width: 320px) {
    .wrap-head {
        justify-content: center;
    }
    .fancy-item {
        width: 100%;
    }
    .title-wrap {
        width: 100%;
    }
    .step-a span.gray, .step-a span.pink {
        font-size: 55px;
    }
    .step-wrap {
        height: auto;
    }
    .step-a {
        // position: static;
        // text-align: center;
    }
    .arrow {
        display: none;  
        width: 0;
        height: 0;
    }
    .logo-title, .phone-link {
        font-size: 20px;
    }
    .title-wrap .title span {
        font-size: 36px;
    }
    .title-wrap p {
        font-size: 16px;
    }
    .fifth-section {
        min-height: 500px;
    }
    .fifth-section .title-wrap h2 {
        font-size: 30px;
    }
    .fifth-section .title-wrap p {
        font-size: 22px;
    }
    .fifth-section .title-wrap span {
        font-size: 30px;
    }
}
@media screen and (max-width: 425px) and (min-width: 320px) {
    .step-a {
        top: 55%;
        left: -5px;
    }
    .step-item .step-title {
        font-size: 22px;
    }
    .step-item p {
        font-size: 20px;
    }
}
@media screen and (max-width: 370px) and (min-width: 320px) {
    .slick-dots {
        bottom: -25px;
    }
}
