.eighth-section {
    position: relative;
	// background: url('../img/o5gllh0-min.jpg') no-repeat 50% 50%;
    // background-size: cover;
    padding: 60px 0;
}
.specialist {
    position: relative;
	list-style-type: none;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
    	width: 33%;
    	padding: 20px;
    	margin-bottom: 40px;
    	text-align: center;
    }
	&-name {
		font-size: 20px;
    	font-weight: 900;
    	margin-bottom: 20px;
	}
	p {
		font-size: 16px;
    	font-weight: 300;
    	margin-bottom: 20px;
	}
	span {
		display: block;
		font-size: 18px;
    	font-weight: 500;
	}
}

.specialist-pic {
	width: 240px;
    height: 240px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 6px solid #fff;
}
