.eleventh-section {
    // background: url('../img/fon-min.jpg') no-repeat 50% 50%;
	background: url('../img/fon-min.jpg') no-repeat center left;
    background-size: cover;
    // height: 100vh;
    min-height: 700px;
    .container {
    	height: 100%;
    	display: flex;
    	align-items: center;
    }
}
