.page-footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	padding: 30px 0;
	.logo {
		width: auto;
		// padding: 0 20px;
	}
	.contacts {
		width: 34.3333%;
		text-align: center;
		// padding: 0 20px;
	}
}
.page-footer .contacts p {
    font-weight: 300;
    font-weight: 300;
    font-size: 16px;
    color: #ED5C66;
}
.privacy-policy {
	width: 33.3333%;
	// padding: 0 20px;
	text-align: center;
	p {
	    line-height: 18px;
	    font-size: 14px;
	    color: #181E2C;
	    font-weight: 300;
	}
}
