.ninth-section {
    padding: 60px 0;
}
.carousel {
	padding: 60px 0;
}
.carousel__item img {
    display: block;
	width: 40%;
	height: 365px;
	margin: auto;
}
.arrow {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
}
.arrow__prev {
    right: 3%;
}
.arrow__next {
    left: 3%;
}
.programs-list-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    margin-bottom: 40px;
}
.programs-list {
	list-style-type: none;
    font-size: 18px;
    line-height: 40px;
    font-weight: 300;
    width: 45%;
}
.programs-item {
	position: relative;
	padding-left: 40px;
}
.programs-item::before {
	content: '';
	background: url('../icons/check_1.png') no-repeat 50% 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 4px;
	left: 0;
}

.programs p {
    line-height: 29px;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
}
