.ninth-section {
    padding: 60px 0;
}
.carousel {
	padding: 60px 0;
}
.carousel__item img {
    display: block;
	width: 40%;
	height: 365px;
	margin: auto;
}
.arrow {
	position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    // font-size: 100px;
    // color: #fff;
    // text-shadow: 0px 9px 24px rgba(0, 0, 0, 0.5);
    // line-height: 0.3;
    // text-align: left;
}
.arrow__prev {
    right: 3%;
}
.arrow__next {
    left: 3%;
}
.programs-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
    font-size: 18px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}
.programs-item {
	position: relative;
	width: 45%;
	padding-left: 40px;
	// margin-bottom: 20px;
}
.programs-item::before {
	content: '';
	background: url('../icons/check_1.png') no-repeat 50% 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 4px;
	left: 0;
	// transform: translateY(-50%);
}

.programs p {
    line-height: 29px;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
}

@media screen and (max-width: 1024px) and (min-width: 320px) { 
	// .arrow {
	// 	display: none;
	// }

}
