.sixth-section {
	background: url('../img/o5gllh0-min.jpg') no-repeat 50% 50%;
    background-size: cover;
    padding: 60px 0;
    .title-inner {
    	margin-bottom: 50px;
    }
    .title-inner span {
    	display: block;
    	i {
    		color: #ED5C66;
    		font-style: normal;
    	}
    }

}
.model {
    display: flex;
    flex-wrap: wrap;
}

.model__item {
	position: relative;
	background: #fff;
	width: 50%;
	font-size: 16px;
	padding: 20px;
	ul {
		margin-left: 40px;
	}
	i {
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    font-style: normal;
	    font-weight: 900;
	    font-size: 52px;
	    line-height: 120px;
	    font-size: 100px;
	    opacity: .3;
	}
	&_pink {
	.model-title span {
			color: #fff;
		}
		color: #fff;
		background: #ED5C66;

	}
}
.model-title {
	font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}
.model-title span {
	color: #ED5C66;
	font-weight: 900;
}



  
