.tenth-section {
    background: url('../img/o5gllh0-min.jpg') no-repeat 50% 50%;
    background-size: cover;
    padding: 60px 0;
}
.step-list {
	list-style-type: none;
}
.step-item  {
	position: relative;
	.step-title {
		font-size: 24px;
	    font-weight: 500;
	    margin-bottom: 20px;
	    display: block;
	}
	p {
		font-size: 23px;
    	font-weight: 300;
	}
}

.step-a {
	span.pink {
		display: inline-block;
	    background-color: transparent;
	    font-weight: 900;
	    text-transform: uppercase;
		color: #ED5C66;
		opacity: 1;
    	font-size: 240px;
	}
	span.gray {
		display: inline-block;
	    background-color: transparent;
	    opacity: 0.1;
	    font-size: 180px;
	    font-weight: 900;
	    text-transform: uppercase;
	}
}
.step-wrap {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2;

    p {
    	width: 60%;
    }
}
.advantage {
	background: #ED5C66;
	color: #fff;
	padding: 40px 0;

	.advantage-title {
		font-size: 36px;
	    text-align: left;
	    // line-height: 43px;
	    // font-family: roboto, sans-serif;
	    font-weight: 900;
	    margin-bottom: 20px;
	}
	p {
		font-size: 24px;
	    text-align: left;
	    line-height: 29px;
	    font-weight: 900;
	    margin-bottom: 20px;
	}
}
.advantage-content {
	width: 70%;
}
.advantage-list {
	padding-left: 40px;
}
.advantage-list li {
	font-size: 18px;
    // line-height: 22px;
    // font-family: roboto, sans-serif;
    font-weight: 300;
}

.sub-title-inner {
	width: 60%;
	margin: 0 auto;
	text-transform: none;
    font-size: 36px;
    font-weight: 900;
    padding: 30px 0;
}
