.two-section {
	background: url('../img/o5gllh0-min.jpg') no-repeat 50% 50%;
	background-size: cover;
	padding-bottom: 60px;
}
.section-content {
	display: flex;
	justify-content: center;
	padding: 30px 0;
}
.content-item {
	width: 20%;
	text-align: center;
	padding: 20px;
	font-size: 48px;
    font-weight: 900;
	p {
		font-size: 18px;
    	font-weight: 300;
    }
}
.video {
	text-align: center;
	width: 744px;
    height: 470px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    margin: auto;
        iframe {
	    	width: 100%;
	    	height: 100%;
	    	border-width: 0px;
	    	border-color: transparent;
	    	background-color: transparent;
	    	border-top-width: 0px;
	    	border-right-width: 0px;
	    	border-bottom-width: 0px;
	    	border-left-width: 0px;

    }
}




